<!-- Games#Index page -->
<h1 class= "text-center"> Join A Game! </h1>
<br />
<div class= "col-xs-12">
  <% @games.each do |game|%>
    <% if (game.jedi_user_id != nil) && (game.sith_user_id == nil) %>
      <div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
        <div class="col-sm-4" >
          <h4 id='j-email'><%= game.jedi_user.email %></h4>
          <h4 class="name">as Jedi Master</h4>
        </div>
        <div class="col-sm-4" >
          <%= image_tag 'Jedi.png', class: 'img-responsive usr-img' %>
        </div>
        <div class="col-sm-4" >  
          <%= link_to 'Join Game as Sith Master', game_path(game.id, sith_user_id: current_user.id) , class: 'btn btn-primary sith-btn', method: :put%>
        </div>
      </div>
    <% elsif (game.sith_user_id != nil) && (game.jedi_user_id == nil) %>
      <div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
        <div class="col-sm-4" > 
          <h4 id='s-email'><%= game.sith_user.email %></h4>
          <h4 class="name"> as Sith Master</h4>
        </div>
        <div class="col-sm-4" >   
          <%= image_tag 'Sith.png', class: 'img-responsive usr-img' %>
        </div>
        <div class="col-sm-4" > 
          <%= link_to 'Join Game as Jedi Master', game_path(game.id, jedi_user_id: current_user.id), class: 'btn btn-primary jedi-btn', method: :put%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>