<h1 class="text-center"> Place Your Ships! </h1>
<p class="text-center" id="inst">Click and drag the ships to the grid. <br/>
   Click on ship to position it horizontally or vertically.</p>

<div id="ships">
  <div class="draggable rotate" id="destroyer">
    <p>&#x25CF;</p><p>&#x25CF;</p>
  </div>
  <br />
  <h2>Destroyer</h2>
  <br />
  <div class="draggable rotate" id="crufight">
    <p>&#x25CF;</p><p>&#x25CF;</p><p>&#x25CF;</p>
  </div>
  <br />
  <h2>Cruiser</h2>
  <br />
  <div class="draggable rotate" id="crufight">
    <p>&#x25CF;</p><p>&#x25CF;</p><p>&#x25CF;</p>
  </div>
  <br />
  <h2>Fighter</h2>
  <br />
  <div class="draggable rotate" id="battleship">
    <p>&#x25CF;</p><p>&#x25CF;</p><p>&#x25CF;</p><p>&#x25CF;</p>
  </div>
  <br />
  <h2>Battleship</h2>
  <br /> 
  <div class="draggable rotate" id="carrier">
    <p>&#x25CF;</p><p>&#x25CF;</p><p>&#x25CF;</p><p>&#x25CF;</p><p>&#x25CF;</p>
  </div>
  <br />
  <h2>Carrier</h2>
</div>

<div id="wrapper">
    <% (0..10).each do |row| %>
      <% if row > 0 %>
        <div class="square textLabel"><%= row %></div>
      <% else %>
        <div class="square"></div>
      <% end %>
      <% ('A'..'J').each do |col| %>
        <% if row == 0 %>
          <div class="square textLabel"><%= col %></div>  
        <% else %>  
          <div class="square" data-xCoord="<%= col %>" data-yCoord="<%= row %>"></div>
        <% end %>   
      <% end %> 
    <% end %> 
</div>

<div>
<%= link_to 'Ready!', '#', class: 'btn btn-danger play-btn', method: :put%>
</div>