
<h1 class="text-center"> Place your Sith ships! </h1>
<p class="text-center" id="inst">Click and drag the ships to the grid. <br/>
   Click on ship to position it horizontally or vertically.</p>

<div class="col-sm-6">

  <table id="ship-table">
    <tbody>
      <tr>
        <td class="ship-name">TIE Interceptor</td>
        <td><%= image_tag 'ship1-1.png', class: 'img-responsive ship-img moveable' %></td>
      </tr>
      <tr>
        <td class="ship-name">Royal Interceptor</td>
        <td><%= image_tag 'ship2_3.png', class: 'img-responsive ship-img moveable' %></td>
      </tr>
      <tr>
        <td class="ship-name">Imperial Destroyer</td>
        <td><%= image_tag 'ship2_3.png', class: 'img-responsive ship-img moveable' %></td>
      </tr>
      <tr>
        <td class="ship-name">T-4 Shuttle</td>
        <td><%= image_tag 'ship4-1.png', class: 'img-responsive ship-img moveable' %></td>
      </tr>
      <tr>
        <td class="ship-name">Death Star</td>
        <td><%= image_tag 'ship5-1.png', class: 'img-responsive ship-img ship5 moveable' %></td>
      </tr>
      <!-- <tr>
        <td><h4 id="rotate-text">Rotate</h4></td>
        <td><%= image_tag "rotate_btn.png", class: 'img-responsive rotate-btn' %></td>
      </tr> -->
    </tbody>
  </table>
  
</div>

<div class="col-sm-6">

  <table id="table-grid">
    <tbody id="grid">
      <% (0..10).each do |row| %>
        <tr class="<%= row %>">
        <td class="col-xs-1 battleship-grid"><%= row %></td>
        <% ('A'..'J').each do |col| %>
          <% if row == 0 %>
            <td class="col-xs-1 battleship-grid"><%= col %></td>  
          <% else %>  
            <td class="col-xs-1 battleship-grid" data-xCoord="<%= col %>" data-yCoord="<%= row %>"></td>
          <% end %>   
        <% end %>  
        </tr>
      <% end %> 
        
    </tbody>
  </table>

</div>
