<h1 class="text-center"> Place Your Ships! </h1>
<p class="text-center" id="inst">Click and drag the ships to the grid. <br/>
   Click on ship to position it horizontally or vertically.</p>

<% @ships.each do |s| %>
  <h2><%= s.name %></h2>
  <% s.length.times do %>
    <div class="draggable">
      <p>&#x25CF;</p>
    </div>
 <% end %> 
  
<% end %>

<div id="wrapper">
    <% (0..10).each do |row| %>
      <% if row > 0 %>
        <div class="square textLabel"><%= row %></div>
      <% else %>
        <div class="square"></div>
      <% end %>
      <% ('A'..'J').each do |col| %>
        <% if row == 0 %>
          <div class="square textLabel"><%= col %></div>  
        <% else %>  
          <div class="square" data-xCoord="<%= col %>" data-yCoord="<%= row %>"></div>
        <% end %>   
      <% end %> 
    <% end %> 
</div>

<div>
<%= link_to 'Play Game!', '#', class: 'btn btn-danger play-btn', method: :put%>
</div>